.my-label {
  display: block;
}

.label-item {
  cursor: pointer;
  border-bottom: 1px solid #bcbcbc;
  width: 100%;
  margin-right: 15px;
  padding: 0px 10px;

  > span {
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
  }

  > s {
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
  }
}
